<div>
   <!-- Welcome, <%= @user.email %> -->

   User Name: <%= @user.first_name %> <%= @user.last_name %> is logged in! <br />
   Member Since: <%= @user.created_at %> <br />
   Current City: <%= @user.current_city %> <br />
   Email: <%= @user.email %><br />

   <%= link_to "Edit", edit_user_path(@user) %>

</div>
