<div class="col-md-6">

   <%= form_for @post, url: posts_path, html: {:class => "form-horizontal center"}, method: :patch do |f| %>
   <strong>Title: </strong><%= f.text_field :title, class: "form-control" %><br />
   <strong>Content: </strong><%= f.text_area :content, class: "form-control" %><br />
   <%= f.submit "Save Post" %>
   <% end %>

   <%= form_for @user fo |f| %>
   <%= f.file_field :picture %>
   <%= f.hidden_field(:picture_cache) %>
   <%f.submit "Submit" %>
   <% end %>

</div>
