<div>

<strong><%= @post.title %></strong><br>
<%= @post.content %><br>


<!-- <button type="button" class="btn btn-default btn-xs"><%= link_to "Edit", edit_post_path(@post) %></button> -->
<%= button_to "Delete", posts_path(@post), data: {confirm: "Are you sure?"}, method: :delete %>
<%= button_to "Edit", edit_post_path(@post), method: "get" %>

</div>
